main > section {
	border: thin solid black;
	background-color: var(--white-background);
	padding: 0.5em;
	border-radius: var(--box-radius);

	h2, h3, h5 {
		color: var(--black-text);
	}

	& > section {
		// Material details part
		&:first-child {
			display: flex;

			// Material picture preview
			& > img {
				height: 15em;
				border-radius: var(--box-radius);
			}

			// Material infos
			& > div {
				flex: 1;
				margin-left: 1em;

				& > section {
					display: flex;
					align-items: center;

					& > p {
						flex: 1;
						color: grey;
						margin-left: 0.5em;
						font-style: italic;
					}

					& > ul {
						display: flex;
						align-items: center;

						& > li {
							margin-left: 0.5em;
						}
					}
				}

				& > ul {
					display: flex;
					flex-wrap: wrap;

					& > li {
						flex: 1;
						flex-basis: 45%;

						&:first-child:nth-last-child(3) {
							flex-basis: 100%;
						}
					}
				}
			}
		}

		// Rentals part
		&:nth-child(2) {
			border-top: thin solid var(--subtitle);
			margin-top: 0.5em;

			// New rental creation
			& > menu {
				background-color: var(--subtitle);
				border-radius: var(--box-radius);
				display: flex;
				align-items: center;
				padding: 0.5em;

				& > li {
					flex: 1;
					margin: 0 0.5em;

					& > label {
						& > p {
							margin: 0 0 0.2em 0;
							font-size: 0.9em;
						}

						& > input, & > select {
							width: 100%;
						}
					}
				}
			}

			// Saved rentals table
			& > table {
				width: 100%;
				margin-top: 1em;
				border: thin solid var(--subtitle);
				border-radius: var(--box-radius);

				// The "no rentals" message
				tr:nth-child(2) {
					& > td {
						padding: 1em 0;
					}

					// When there is rentals displayed in the table
					&:nth-last-child(2) {
						display: none;
					}
				}

				th {
					background-color: var(--subtitle);
				}

				td {
					text-align: center;
					font-size: 0.8em;
				}

				img {
					height: 1em;
				}
			}
		}
	}
}