<html lang="fr">
    <head>
        <%- include('../included/common.ejs') %>
        <title>Ajout d'un employé</title>
        <link rel="stylesheet" href="/public/styles/employee/viewEmployee.css"/>
    </head>

    <body>
        <%- include('../included/menu.ejs') %>

        <main>
            <h1>Ajout d'un nouvel employé</h1>

            <section>
                <ul>
                    <li>
                        <label for="name">Prénom</label>
                        <input type="text" name="name" id="name">
                    </li>
                    <li>
                        <label for="surname">Nom de famille</label>
                        <input type="text" name="surname" id="surname">
                    </li>
                    <li>
                        <label for="email">Adresse mail</label>
                        <input type="email" name="email" id="email">
                    </li>
                    <li>
                        <label for="matricule">Matricule</label>
                        <input type="text" name="mat" id="matricule">
                    </li>
                    <li>
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" id="password">
                    </li>
                    <li>
                        <button onclick="window.location.href='/employees/'" title="Abandonner la création">Abandonner</button>
                        <button title="Ajouter le nouvel utilisateur" id="save">Ajouter</button>
                    </li>
                </ul>
            </section>
        </main>
    </body>

    <script type="text/javascript">
		// Set the structure of a toast
		const toast_structure = `<%- include('../included/toast.ejs'); %>`;
    </script>
    <script type="text/javascript" src="/public/scripts/Toast.js"></script>
    <script type="text/javascript" src="/public/scripts/employee/createEmployee.js"></script>

</html>