<html lang="fr">
	<head>
		<%- include('../included/common.ejs') %>
		<title>Détails d'un employé</title>
	</head>

	<body>
		<%- include('../included/menu.ejs') %>

        <main>
		    <h1>Vue d'un employé</h1>

			<section>
				<%= employee %>
			</section>
        </main>
	</body>
</html>