<html lang="fr">
	<head>
		<title>Accueil</title>
		<link rel="stylesheet" href="/public/styles/home.css"/>
		<%- include('included/common.ejs') %>
	</head>
	<%- include('included/menu.ejs')%>
	<body>
		<p>Coucou zzzz  uihghrdhzhdhiogieorgir <%= name %></p>
	</body>
</html>