<html lang="fr">
	<head>
		<%- include('included/common.ejs') %>
		<title>Accueil</title>
		<link rel="stylesheet" href="/public/styles/home.css"/>
	</head>

	<body>
		<%- include('included/menu.ejs')%>
		<main>
			<h1>Bonjour <%= name %></h1>

		</main>
	</body>
</html>