<html lang="fr">
    <head>
        <%- include('included/common.ejs') %>
        <title>Page de connexion</title>
        <link rel="stylesheet" href="/public/styles/login.css"/>
    </head>

    <body>
        <main>
            <section>
                <h1>Connexion</h1>

                <form>
                    <img src="/public/icons/logo.png" alt="Logo de l'entreprise">
                    <label>
                        <p>Matricule</p>
                        <input id="matricule" type="text" placeholder="abc123"/>
                    </label>
                    <label>
                        <p>Mot de passe</p>
                        <input id="password" type="password" placeholder="topSecret"/>
                    </label>

                    <button id="loginButton">Se connecter</button>
                </form>
            </section>
        </main>
    </body>

    <script type="text/javascript" src="/public/scripts/input.js"></script>
    <script type="text/javascript" src="/public/scripts/login.js"></script>
</html>