<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Accueil</title>
		<link rel="stylesheet" href="/styles/newUser.css"/>
        <%- include('common.ejs') %>
	</head>
    <%- include('menu.ejs')%>
	<body>
		<p>Coucou zzzz  uihghrdhzhdhiogieorgir <%= name %></p>
	</body>
</html>