<html lang="fr">
	<head>
		<%- include('../included/common.ejs') %>
		<title>Liste des utilisateurs</title>
	</head>

	<body>
		<%- include('../included/menu.ejs') %>

        <main>
		    <h1>Liste des utilisateurs</h1>

        </main>
	</body>
</html>