<html lang="fr">
	<head>
		<%- include('../included/common.ejs') %>
		<title>Détails d'un d'utilisateur</title>
	</head>

	<body>
		<%- include('../included/menu.ejs') %>

        <main>
		    <h1>Vue d'un utilisateur</h1>

        </main>
	</body>
</html>