main {
  display: flex;
  flex-direction: column;
}
main > section {
  width: 50%;
  align-self: center;
  border: thin solid black;
  background-color: var(--white-background);
  padding: 0.5em;
  border-radius: var(--box-radius);
}
main > section > ul {
  display: flex;
  flex-direction: column;
}
main > section > ul > li {
  display: flex;
}
main > section > ul > li > label {
  margin-bottom: 0.2em;
}
main > section > ul > li:not(li:nth-last-child(-n+2)) {
  flex-direction: column;
  margin: 1em 0;
}
main > section > ul > li:nth-last-child(2) {
  flex-wrap: wrap;
  align-items: center;
  margin: 1em 0;
}
main > section > ul > li:nth-last-child(2) > label {
  flex-basis: 100%;
}
main > section > ul > li:nth-last-child(2) > p {
  font-size: 0.8em;
}
main > section > ul > li:last-child {
  justify-content: space-between;
}
main > section > ul > li:last-child > button {
  flex-basis: 30%;
}
