main {
	display: flex;
    flex-direction: column;

	& > section {
		width: 50%;
		align-self: center;
		border: thin solid black;
		background-color: var(--white-background);
		padding: 0.5em;
		border-radius: var(--box-radius);

		& > ul {
			display: flex;
			flex-direction: column;

			& > li {
				display: flex;

				& > label {
					margin-bottom: 0.2em;
				}

				&:not(li:last-child) {
					flex-direction: column;
					margin: 1em 0;
				}

				&:last-child {
					justify-content: space-between;

					& > button {
						flex-basis: 30%;
					}
				}
			}
		}
	}
}