main {
	display: flex;
    flex-direction: column;

	& > section {
		width: 50%;
		align-self: center;
		border: thin solid black;
		background-color: var(--white-background);
		padding: 0.5em;
		border-radius: var(--box-radius);

		& > ul {
			display: flex;
			flex-direction: column;

			& > li {
				display: flex;

				& > label {
					margin-bottom: 0.2em;
				}

				&:not(li:nth-last-child(-n + 2)) {
					flex-direction: column;
					margin: 1em 0;
				}

				&:nth-last-child(2) {
					flex-wrap: wrap;
					align-items: center;
					margin: 1em 0;

					& > label {
						flex-basis: 100%;
					}

					& > p {
						font-size: 0.8em;
					}
				}

				&:last-child {
					justify-content: space-between;

					& > button {
						flex-basis: 30%;
					}
				}
			}
		}
	}
}