main {
  display: flex;
  flex-direction: column;
}
main > section {
  width: 50%;
  align-self: center;
}
main > section > ul {
  display: flex;
  flex-direction: column;
}
main > section > ul > li {
  display: flex;
}
main > section > ul > li > label {
  margin-bottom: 0.2em;
}
main > section > ul > li:not(li:last-child) {
  flex-direction: column;
  margin: 1em 0;
}
main > section > ul > li:last-child {
  justify-content: space-between;
}
main > section > ul > li:last-child > button {
  flex-basis: 30%;
}
