//https://designs.ai/colors/palette/1505

:root {
	// Text colors
	--subtitle: lightgrey;
	--black-text: #6c4343;
	--white-text: #f2f3f4;

	// Box colors
	--accent-color: #e09664;
	--accent-color2: #6c4343;
	--error-color: #e64c3c;
	--success-color: #4fba6f;
	--page-background: #364968;
	--overlays-background: #fddf97;
	--white-background: #f2f3f4;

	// Box effects
	--box-shadow: rgba(255, 255, 255, 0.2) 0 7px 29px 0;
	--box-radius: 5px;
}

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: var(--page-background);
}

form {
	margin: 0;
	border-radius: var(--box-radius);
	box-shadow: var(--box-shadow);
	padding: 1em;
	background-color: var(--white-background);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--white-text);
	text-transform: uppercase;
}

menu, ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0.5em 0;
}

input, select {
	border-radius: 5px;
	background-color: white;

	&.input-error {
		border: medium solid var(--error-color);
	}
}

a {
	text-decoration: none;
}

button {
	border-radius: 5px;
	cursor: pointer;
	background-color: lightgrey;
	color: black;
}

* {
	color: var(--black-text);
}

main {
	padding: 1em;
}

.switch {
	margin-right: 1em;
	display: inline-block;
	position: relative;
	width: 3em;
	height: 1.5em;
	cursor: pointer;
	overflow: hidden;
	border: thin solid black;
    border-radius: 15px;

	& input {
		position: absolute;
		top: -30px;
		width: 0;
		height: 0;

		& + label {
			position: absolute;
			top: 0;
			cursor: pointer;
			bottom: 0;
			left: 0;
			right: 0;
		    background: var(--overlays-background);
			border-radius: 15px;

			&:before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 0.15em;
				width: 1.2em;
				height: 1.2em;
				background: white;
				border-radius: 50%;
				transform: translateY(-50%);
				transition: all .5s;
			}

			&:before {
				background: url("../icons/shield_cross.gif");
				background-size: contain;
			}
		}

		&:checked + label {
			background: var(--success-color);
			//background: var(--page-background);

			&:before {
				left: 1.6em;
			}

			&:before {
				background: url("../icons/shield_tick.gif");
				background-size: contain;
			}
		}
	}
}