header {
  background-color: var(--overlays-background);
  box-shadow: var(--box-shadow);
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > menu {
  display: flex;
}
header > menu > li {
  margin: 1em;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  cursor: pointer;
}
header > menu > li > a {
  color: var(--text);
}
header > menu > li:hover {
  background-color: var(--main-color);
}
header > menu > li:hover > a {
  color: var(--text-inverted);
}
header > a {
  margin-left: 1em;
}
header > a > img {
  height: 3em;
}
