header {
	background-color: var(--overlays-background);
	box-shadow: var(--box-shadow);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	& > menu {
		display: flex;

		& > li {
			margin: 1em;
			border-radius: 5px;
			padding: 0.3em 0.5em;
			cursor: pointer;
			transition: background-color 0.5s, color 0.5s;

			&:hover {
				background-color: var(--accent-color2);
				& > a {
					color: var(--white-text);
				}
			}
		}
	}

	& > a {
		margin-left: 1em;

		& > img {
			height: 3em;
		}
	}
}