header {
  background-color: var(--overlays-background);
  box-shadow: var(--box-shadow);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > menu {
  display: flex;
}
header > menu > li {
  margin: 1em;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
header > menu > li:hover {
  background-color: var(--accent-color2);
}
header > menu > li:hover > a {
  color: var(--white-text);
}
header > a {
  margin-left: 1em;
}
header > a > img {
  height: 3em;
}
