/* The Modal (background) */
.popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  align-items: center;
  justify-content: center;
  /* Modal Content/Box */
}
.popup > div {
  background-color: var(--white-background);
  padding: 1em;
  border-radius: var(--box-radius);
  border: thin solid var(--page-background);
  width: 50%;
  /* Could be more or less, depending on screen size */
  /* The Close Button */
}
.popup > div > span {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.popup > div > span:hover, .popup > div > span:focus {
  color: black;
  text-decoration: none;
}
.popup > div > p:last-of-type {
  color: grey;
  font-size: 0.8em;
}
.popup > div > ul {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
