<header>
  	<a href="/home">
		<img src="/public/icons/logo.png" alt="Logo de la plateforme"/>
	</a>
  	<menu>
	   	<li><a href="/home">Accueil</a></li>
       	<li><a href="/materials">Matériels</a></li>
       	<li><a href="/employees">Employés</a></li>
    	<li><a href="/logout">Déconnexion</a></li>
  	</menu>
</header>
