<header class="header">
  	<a href="" class="logo">LOGO</a>
  	<ul class="menu">
	   	<li><a href="/home">Accueil</a></li>
       	<li><a href="/materials">Matériels</a></li>
       	<li><a href="/users">Utilisateurs</a></li>
    	<li><a href="/">Se connecter</a></li>
  	</ul>
</header>
