<link rel="stylesheet" href="/public/styles/pop-up.css"/>
<div id="modal-id" class="modal">
  <div class="modal-content">
    <span id="close" class="close">&times;</span>
    <p id='modal-error-text'><%= error_text %></p>
  </div>
</div>
<script type="text/javascript" src="/public/scripts/modal.js"></script>