<div class="popup">
    <div>
        <span>&times;</span>
        <p></p>
        <p></p>
        <ul>
            <li>
                <button>Annuler</button>
            </li>
            <li>
                <button>Valider</button>
            </li>
        </ul>
    </div>
</div>
